
.bcit-credential {
   margin-bottom: 4rem;
   position: relative;

   .award-icon {
      position: absolute;
      left: -11rem;
      top: -8rem;
   }
   .post-point {
      position: absolute;
      width: .25rem;
      height: 3rem;
      background-color: #ccc;
      left: -9.1rem;
      top: -3rem;
   }
   .point {
      position: absolute;
      width: 2rem;
      height: 2rem;
      border: .25rem solid #ccc;
      border-radius: 50%;
      left: -10rem;
      top: 0;
   }
   .point-path {
      position: absolute;
      width: .25rem;
      height: calc(100% + 2rem);
      background-color: #ccc;
      left: -9.1rem;
      top: 2rem;
   }

   span {
      color: #aaa;
   }
   
   p {
      width: 70%;
   }
}

@media screen and (max-width: 900px) {
   .bcit-credential {
      padding: 0;
   }
   
   .award-icon {
      left: -6rem !important;
      top: -8rem !important;
   }
   .post-point {
      left: -4.1rem !important;
      top: -3rem !important;
   }
   .point {
      left: -5rem !important;
      top: 0 !important;
   }
   .point-path {
      left: -4.1rem !important;
      top: 2rem !important;
   }
}

@media screen and (max-width: 720px) {
   .award-icon, .post-point, .point, .point-path {
      display: none !important;
   }
}

@media screen and (max-width: 540px) {
   .bcit-credential {
      .d-flex {
         flex-direction: column;
         h3 {
            order: 2;
         }
         span {

         }
      }

      .program-description {
         margin: 0;
      }
   }

   p {
      width: 100% !important;
   }
}