
.bcit-credential {
   margin-bottom: 4rem;
   position: relative;

   .award-icon {
      position: absolute;
      left: -11rem;
      top: -8rem;
   }
   .post-point {
      position: absolute;
      width: .25rem;
      height: 3rem;
      background-color: #ccc;
      left: -9.1rem;
      top: -3rem;
   }
   .point {
      position: absolute;
      width: 2rem;
      height: 2rem;
      border: .25rem solid #ccc;
      border-radius: 50%;
      left: -10rem;
      top: 0;
   }
   .point-path {
      position: absolute;
      width: .25rem;
      height: calc(100% + 2rem);
      background-color: #ccc;
      left: -9.1rem;
      top: 2rem;
   }

   span {
      color: #aaa;
   }
   
   p {
      width: 70%;
   }
}