.edu-container {
   padding: 5rem;

   .bcit-logo {
      text-align: center;
      margin-bottom: 3rem;

      img {
         width: 300px;
      }
   }

   .greystone-logo {
      margin-top: 12rem;
   }

   .bcit-credentials {
      padding-left: 10rem;
   }
}

@media screen and (max-width: 900px) {
   .edu-container {
      padding: 3rem;

      .bcit-credentials {
         padding-left: 5rem;
      }
   }
}

@media screen and (max-width: 720px) {
   .edu-container {

      .bcit-credentials {
         padding-left: 0;
      }
   }
}