.skills {
   padding: 4rem 0;

   .skills-intro {
      
      margin-bottom: 3rem;
      ul {
         padding: 2rem;
      }
      ul > div:first-child {
         margin-right: 3rem;
      }
   }

   .skills-text {
      width: 60%;
      text-align: center;
      font-size: 13pt;
   }

   .skills-container {
      background-color: #eee;
      width: 60%;
      padding: 2rem 1rem;
      max-width: 40rem;

      .skill:last-child {
         margin-bottom: 0;
      }
   }
}


@media screen and (max-width: 768px) {
   .skills-container {
      width: 80% !important;
   }
}


@media screen and (max-width: 576px) {
   .skills-text {
      width: 80% !important;
   }
   .skills-container {
      width: 90% !important;
   }
}