@keyframes fillBlank {
   from {
      transform: translateX(-100%);
   }
   to {
      transform: translateX(0);
   }
}


.dv-skill-container {
   width: 280px;
   height: 50px;
   border-radius: .5rem;
   border: 1px solid #888;
   overflow: hidden;
   margin-bottom: 1rem;

   h4 {
      margin-bottom: 0;
   }

   .dv-s-image {
      flex: 1;
      font-size: 22pt;

      .dv-image-icon {
         flex: 1;
      }

      .dv-s-shadow {
         width: 15px;
         background: linear-gradient(to left, #9dd795, rgba(255,255,255, 0));
         height: 100%;
         top: 0;
         right: 0;
      }
   }

   .dv-s-skill {
      flex: 3;
      background-color: white;
      position: relative;
      overflow: hidden;

      .dv-skill-pc {
         position: absolute;
         height: 100%;
         left: 0;
         background-color: #9dd795;
         z-index: 0;
      }

      .fill-blank-anim {
         animation: fillBlank 1.3s ease-out;
      }

      h4 {
         z-index: 2;
      }
   }
}


@media screen and (max-width: 670px) {
   .skill {
      .percent-bg {
         flex: 5 !important;
      }
      span:first-child {
         flex: 2;
      }
      span:last-child {
         flex: 1;
      }
   }
}


@media screen and (max-width: 500px) {
   .skill {
      .percent-bg {
         flex: 2 !important;
      }
      span:first-child {
         flex: 1;
      }
      span:last-child {
         display: none;
      }
   }
}