$button: #599FFF;
$button-hover: #296FCF;

.contact {
   min-height: 15rem;

   .contact-form, .contact-info {
      background-color: #ededed;
      padding: 5rem 0;
      width: calc(50% - 2px);
   }
   
   .contact-form {
      form {
         width: 80%;
         max-width: 520px;

         input {
         }

         input, textarea {
            border: none;
            padding: .5rem;
            margin-bottom: 1rem;
            border-radius: 5px;
         }

         textarea {
            min-height: 10rem;
         }

         button {
            background-color: $button-hover;
            border: none;
            color: white;
            padding: .7rem 0;
            border-radius: 5px;
            transition: .1s;
         }
         button:hover {
            background-color: $button;
         }

         div {
            input {
               width: calc(50% - 10px);
            }
         }

         .form-feedback {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5rem;
            margin-top: 1rem;
            border: 2px solid black;
            border-radius: 5px;
         }

         .email-sent {
            border-color: #3a3;
            color: #383;
            background-color: rgba(51, 170, 51, .3);
         }

         .email-invalid {
            border-color: #a33;
            color: #a33;
            background-color: rgba(170, 51, 51, 0.3);
         }
      }
   }


   .contact-info {
      padding-left: 5rem;

      .ci-social-media {
         width: 19rem;
         .ci-s {
            width: 10rem;
            font-size: 24pt;
            span {
               cursor: pointer;
               transition: .2s;
            }
            span:hover {
               color: #777;
            }
         }
      }
   }
}
