header {
   background-color: #f4f4f4;
   // padding: .8rem 0;
   position: fixed;
   transition: .5s   ;
   z-index: 3;
   border-bottom: 1px solid #ccc;

   img {
      width: 2.5rem;
      margin: .5rem 0;
      margin-top: .4rem;
      user-select: none;
      transition: .5s;
   }

   nav {
      height: 100%;


      .router-link {
         color: black;
         transition: .4s;
         cursor: pointer;
         user-select: none;
      }
      .router-link:hover {
         text-decoration: none;
         color: #0C4E74;
      }

      
   }
   .menu-icon-container {
      .menu-icon {
         font-size: 30pt;
         padding-right: 1rem;
         cursor: pointer;
      }

   }

}
.nav-screen {
   position: absolute;
   background-color: #f4f4f4;
   height: 100vh;
   width: 100%;
   nav {
      margin-top: 3rem;
      .router-link {
         margin-bottom: 1.5rem;
      }
   }
}

