header {
   background-color: #f4f4f4;
   // padding: .8rem 0;
   position: fixed;
   transition: .5s   ;
   z-index: 3;

   h1 {
      margin: 0;
   }

   nav {
      height: 100%;


      .router-link {
         color: black;
         transition: .3s;
         cursor: pointer;
      }
      .router-link:hover {
         text-decoration: none;
         color: #a9a9a9;
      }
   }
}