@import url('https://fonts.googleapis.com/css?family=Salsa|Tajawal&display=swap');

.intro {
   color: white;
   padding-top: 4rem;

   p {
      font-size: 12pt;
   }

   .profile {
      flex: 1;
      background-color: rgba(70, 183, 141, .85);
      padding: 2rem;

      .profile-image {
         width: 15rem;
         height: 15rem;
         border-radius: 50%;
         overflow: hidden;
         margin: 3rem 0;
         img {
            width: 100%;
         }
      }

      .profile-text {
         width: 90%;

         h3 {
            display: none;
         }
         
         .pt-center {
            text-align: center;
         }
      }
   }

   .banner {
      flex: 10;
      background-image: url('../../images/js-code-bg2.jpg');
      background-size: cover;
      position: relative;
      min-height: 30rem;

      .opacity-overlay {
         position: absolute;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, .5);
      }

      .banner-text {
         padding: 5rem 10rem;
         z-index: 2;

         h1 {
            font-family: 'Salsa', cursive;
            font-size: 50pt;
         }
      }
   }
}



@media screen and (max-width: 1000px) {
   .profile {
      .profile-image {
         width: 5rem;

         img {
            // min-height: 10rem;
         }
      }
   }

   .banner {
      // flex: 5 !important;
      // background-image: none !important;
      h3 {
         font-size: 5pt;
      }

      .banner-text {
         padding: 2.5rem 4rem !important;
      }
   }
}

@media screen and (max-width: 800px) {
   .profile {
      flex: 1;
   }

   .banner {
      flex: 7 !important;
      // background-image: none !important;
      h3 {
         // font-size: 5pt;
      }

      .banner-text {
         padding: 1.5rem 3rem !important;

         h1 {
            font-size: 35pt !important;
         }
      }
   }
}

@media screen and (max-width: 768px) { 
   main {
      flex-direction: column;

      .profile {

         .profile-text {
            text-align: center;

            h3 {
               display: block !important;
            }
         }
      }

      
   }
   .banner {
         
      height: 15rem !important;
      z-index: 5;
      // padding: 5rem 0;
   }
}