footer {
   padding: 0 5rem;
   height: 5rem;

   .top-icon svg {
      transition: .4s;
      color: black;
   }
   .top-icon {
      font-size: 2rem;
      margin: 0;
      cursor: pointer;
      transition: .4s;
   }
   .top-icon:hover > svg {
      color: #888;
      transform: translateY(-1rem);
   }
}

@media screen and (max-width: 500px) {
   padding: 0 2rem !important;
}