.social-media {
   padding: 1rem 0;
   .social-media-imgs {

   }
   .sm-icons {
      font-size: 2.5rem;
      transition: .6s;
      transition-property: color;
      cursor: pointer;
      color: #666;
   }

   .fa-linkedin:hover {
      color: #0e76a8;
   }

   .fa-facebook:hover {
      color: #3b5998;
   }

   .ti-insta:hover {
      color: #E1306C;
   }

   .social-media-imgs {
      width: 30%;
      img {
         width: 3rem;
         transition: .4s;
      }
      img:hover {
         cursor: pointer;
      }
   }
}


@media screen and (max-width: 768px) {
   .social-media {
      .social-media-imgs {
         width: 50%;
      }
   }
}